* {
  margin: 0;
  padding: 0;
}

.cart {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  border: 2px solid black;
}
.cart_top {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cart_title {
  margin: 2rem 0 1rem 0;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #003466;
  text-align: center;
}

.cart_top img {
  position: absolute;
  width: 1rem;
  top: 46%;
  right: 4%;
}

.table {
  width: 900px;
  height: 530px;
  /* border: 1px solid black; */
}

.table_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ddd;
  padding: 0 7rem;
}

.table_top h3 {
  padding: 1rem 0;
}

.table_bottom {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.table_bottom_midlle {
  padding-right: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.table_bottom_midlle .number span {
  padding: 0.3rem 0.5rem;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table_bottom_midlle button {
  width: 35px;
  height: 41px;
  border: none;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table_bottom_midlle .blue {
  background-color: #003466;
  color: #fff;
}

.table_bottom_midlle .name h4 {
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem;
}

.table_bottom_midlle .number {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table_bottom_midlle span {
  font-size: 1.5rem;
  font-weight: 700;
}

.table_bottom .table_bottom_left img {
  width: 5rem;
}

.table_bottom_right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn_div {
  padding: 3rem 0;
  display: flex;
  justify-content: space-around;
}

.btn_div .btn {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1rem;
}

.cart_empty {
  display: none;
}
