/* General CSS boshlandi */

@font-face {
  font-family: Montserrat;
  src: url("../assets/fonts/Montserrat-Regular.ttf");
}

* {
  font-family: Montserrat, sans-serif;
  margin: 0;
  padding: 0;
}

.section_title {
  font-size: 2.75rem;
  line-height: 120%;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  padding: 2rem 0;
  margin-top: 3rem;
}

.btn {
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  line-height: 120%;
}

.btn_blue,
.btn_white:hover {
  background-color: #003466;
  color: #fff;
  border: 2px solid #003466;
  transition: all 0.5s ease-in-out;
}

.btn_white,
.btn_blue:hover {
  background-color: #fff;
  color: #003466;
  border: 2px solid #003466;
}

.btn_yellow {
  background-color: #fe9e0d;
  color: #fff;
  border: 2px solid #fe9e0d;
  transition: all 0.5s ease-in-out;
}

.btn_yellow:hover {
  background-color: #fff;
  color: #fe9e0d;
  border: 2px solid #fe9e0d;
}

.btn_black {
  background-color: #000;
  color: #fff;
  border: 2px solid #000;
  transition: all 0.5s ease-in-out;
}

.btn_black:hover {
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
}

.btn_bottom {
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

.product {
  max-width: 18rem;
}

.product_text {
  padding: 0.75rem;
}

.product_name {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 120%;
  text-transform: uppercase;
}

.product_description {
  font-size: 0.8rem;
  line-height: 120%;
  color: #666;
}

.product_price {
  margin: 0.5rem 0;
}

.product_image {
  background-color: #eee;
  position: relative;
}

.product_image span {
  display: inline-block;
  background-color: #ccc;
  width: 2rem;
  height: 2rem;
  text-align: center;
}

.product_image div {
  position: absolute;
  top: 0.5rem;
  left: 0.3rem;
}

/* General CSS tugadi */

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  width: 1350px;
  height: 100px;
  background: #003466;
}

.men {
  width: 125px;
  height: 21px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: white;
}

i {
  background: rgba(0, 0, 0, 0.2);
}

.women {
  height: 21px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.children {
  width: 104px;
  height: 21px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.menu img {
  height: 39.01px;
  margin-left: 100px;
  margin-top: 28px;
}

.searching {
  width: 38px;
  height: 38px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  color: white;
}

.cart {
  width: 38px;
  height: 38px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  color: white;
}

.contact {
  width: 38px;
  height: 38px;
  left: 1201px;
  top: 30px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  color: white;
}

.social li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social i:hover {
  transform: scale(1.3);
  transition: 0.3s;
  color: red;
}

ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.menu li {
  margin-left: 70px;
  display: flex;
}

.social {
  margin: auto;
}

svg {
  margin-left: 20px;
}

/* Navbar tugadi */

/* Header boshlandi  */

header.home_header {
  width: 100%;
  height: 80vh;
  background: url("../assets/images/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.home_header span {
  position: absolute;
  top: 45%;
  background-color: rgba(150, 150, 150, 0.3);
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.hero_arrow_left {
  left: 3rem;
}

.hero_arrow_right {
  right: 3rem;
}

/* Header tugadi */
